/* You can add global styles to this file, and also import other style files */
h1 {
	color : black;
	text-aligh: center;
}

body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/72/62/5f/72625f8f0353330aaef16ebdb5b50526.jpg");
}

div {
    width: 300px;
    border: 5px solid green;
    padding: 25px;
    margin: 25px;
}