.nav {
	display: block;
	background-color: #339966;
}

.nav a {
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
    color: #000;
	padding: 10px 20px;
}

.nav a:hover {
  background-color: #00000;
}
 
.nav a.active {
  background-color: #fff;
  color: #000;
  cursor: default;
}
 